html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #f5f7fa;
  box-sizing: border-box;
  font-family: Montserrat, "sans-serif";
  color: #51565d;
}

header .site-header {
  color: #FFF;
  padding: 7px 0px 7px 15px;
  font-size: 1.2em;
  vertical-align: middle;
}

.cal-body .day-bk {
  color: #98a0a6;
  height: 120px;
  width: calc(100% / 7);
}
.week-day {
  width: calc(100% / 7);
}
.week .uk-card-default{
  background-color: #CCCCCC;
}
.day-sat {
  color: #34A0F2;
}

.day-sun {
  color: #FA6964;
}

.cal-body .day-block {
  color: #98a0a6;
  width: calc(100% / 7.08);
  border: 1px solid rgba(166, 168, 179, 0.12);
  height: 120px;
}

.uk-card-default.day-today {
  background-color: #FFFFBB;
}
.ptfont {
  font-size: 1.8em;
}