header .site-header {
  color: #FFF;
  padding: 7px 0px 7px 15px;
  /* font-size: 1.2em; */
}

header h1 {
  padding: 0px;
  margin: 0px;
  font-size: 1.4em;
  color: #FFF;
}

.body-container {
  height: 100vh;
  /* width: 100%; */
  /* color: #51565d; */
  box-sizing: border-box;
  background: #f5f7fa;
}

.header-container {
}

.header-element {
  padding-left: 10px;
}

.flex-expand {
  flex: 1 1 0%;
}

.calendar-days .calendar-day {
  color: #98a0a6;
}

.calendar-week .uk-card-default{
  background-color: #CCCCCC;
}

.day-sat {
  color: #34A0F2;
}

.day-sun {
  color: #FA6964;
}

.calendar-day.day-today {
  background-color: #FFFFBB;
}
.treat-pt {
  font-size: 1.8em;
}

.calendar-container {
  height: 100%;
}

.main-container {
  height: 100%;
}
