.main-container {
  height: 100%;
}

.flex-expand {
  flex: 1 1 0%;
}

.calendar-container {
  height: 100%;
}

.calendar-header h1 {
  color: #6F6F6F;
  margin-top: 7px;
  margin-bottom: 7px;
}

.calendar-days .calendar-day {
  color: #98a0a6;
}

.calendar-week .uk-card-default{
  background-color: #CCCCCC;
}

.day-sat {
  color: #34A0F2;
}

.day-sun {
  color: #FA6964;
}

.calendar-day.day-today {
  background-color: #FFFFBB;
}
.treat-pt {
  font-size: 1.8em;
}


