{% extends "rapi.html" %}

{% block title %}
<title>Treatment</title>
{% endblock title %}

{% block static %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/index.css">
{% endblock static %}

{% block main %}
<main class="flex-expand">
    <div class="uk-container uk-container-large main-container">
        <div class="uk-flex uk-flex-column calendar-container">
            <div class="calendar-header">
                <h1 class="">
                    <span class="">{{ calendar_month }}</span>
                    <a class="uk-button uk-button-default uk-button-small" uk-icon="icon: chevron-left" href="#"></a>
                    <a class="uk-button uk-button-default uk-button-small" uk-icon="icon: chevron-right" href="#"></a>
                </h1>
            </div>
            <div class="uk-flex calendar-week">
                <div class="uk-card-default uk-text-center uk-width-1-7">
                    <span class="day-sun">日</span>
                </div>
                <div class="uk-card-default uk-text-center uk-width-1-7">
                    <span class="">月</span>
                </div>
                <div class="uk-card-default uk-text-center uk-width-1-7">
                    <span class="">火</span>
                </div>
                <div class="uk-card-default uk-text-center uk-width-1-7">
                    <span class="">水</span>
                </div>
                <div class="uk-card-default uk-text-center uk-width-1-7">
                    <span class="">木</span>
                </div>
                <div class="uk-card-default uk-text-center uk-width-1-7">
                    <span class="">金</span>
                </div>
                <div class="uk-card-default uk-text-center uk-width-1-7">
                    <span class="day-sat">土</span>
                </div>
            </div>
            <div class="uk-flex uk-flex-column calendar-days flex-expand">
                {% for week_index in range(end=weeks) %}
                <div class="uk-flex flex-expand">
                    {% for day_index in range(end=days) %}
                    {% set day_num = week_index*7 + day_index %}
                    {% set calendar_date = calendar_dates[day_num] %}
                    {% include "calendar_date.html" %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock main %}